<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
</head>
<body>
    <h1>Admin Page</h1>
    <h2>Create a Quiz</h2>
    <label for="quiz name">Name:</label>
    <input type="text" id="qName" name="quiz name" /><br/><br/>
    <label for="time limit">Time Limit in Minutes:</label>
    <input type="integer" id="tLimit" name="time limit" /><br/><br/>
    You may add questions once the quiz is created
    <button type="submit" id="submitQ">create quiz</button>
    <p id="output"></p> 
</body>
</html>