<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static',filename='js/admin.js')}}"></script>
    <title>Admin Home</title>
</head>
<body>
    <h1>Admin Page</h1>
    <h2>Create a Quiz</h2>
    <label for="quiz name">Name:</label>
    <input type="text" id="qName" name="quiz name" /><br/><br/>
    <label for="time limit">Time Limit in Minutes:</label>
    <input type="number" id="tLimit" name="time limit" /><br/><br/>
    You may add questions once the quiz is created
    <button type="submit" id="submitQ">create quiz</button><br>
    <button type="submit" id="viewAll">view all quizzes</button><br>
    <label for="quizID">Desired Quiz id:</label>
    <input type="number" id="vSpec" name="quizID" />
    <button type="submit" id="viewSpec">View specific quiz</button>

    <p id="output"></p> 
    <p id="quizView"></p>
</body>
</html>