<!DOCTYPE html>
<html>
<head>
  <title>Quiz Site</title>
  <script type="module" src="{{url_for('static',filename='js/userpage.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='userp.css')}}">
</head>
<body>
  <h1>Quiz Site</h1><a href="/logout">Logout</a>

  
  <div class="search-bar"> <!-- holds the search bar and button -->
    <input id="search-input" type="text" placeholder="Search for a quiz">
    <button id="search-button">Search</button>
  </div>
  <h2 class="quiz-head" id="quizzes-header">Available Quizzes:</h2>

  <ul id="quizzes">
    <!-- quizzes will be displayed here -->
  </ul>

  <button id="dash-button">Dashboard</button>

  <div id="score-menu" style="display: none;">
    <h2>Scores</h2>
    <ul id="score-list"></ul>
  </div>

</body>
</html>