<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="{{url_for('static',filename='js/login.js')}}"></script>
</head>
<body>
    <body>
        <h1>Quiz login</h1>
        <div id = "msgs">{{messages}}</div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" /><br/><br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" /><br/><br/>
        <button type="submit" id="login">Login</button>
        <hr>
        <h1>Add User</h1>
        <label for="addusername">Username:</label>
        <input type="text" id="addusername" name="addusername" /><br/><br/>
        <label for="addpassword">Password:</label>
        <input type="password" id="addpassword" name="addpassword" /><br/><br/>
        <label for="addFname">FirstName:</label>
        <input type="text" id="addFName" name="addFName" /><br/><br/>
        <label for="addLName">LastName:</label>
        <input type="text" id="addLName" name="addLName" /><br/><br/>
        <form name="cUsers">
            <input type="radio" id="user" name="role" value="user">
            <label for="user">user</label><br>
            <input type="radio" id="admin" name="role" value="admin">
            <label for="admin">admin</label><br>
        </form>
        <button type="submit" id="add">Add User</button>
        
    </body>
    </html>
</body>
</html>